@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Evita que el body scrollee
html, body {
  overflow-x: hidden;
}*/

/* Fuerza el scroll interno */
.dataTables_wrapper {
  width: 100%;
  overflow-x: auto;
}

.dataTables_scrollBody {
  overflow-x: auto !important;
}