@tailwind base;
@tailwind components;
@tailwind utilities;
table.dataTable thead th {
  text-align: center !important;
}
.dt-button-collection {
  @apply bg-white border rounded shadow-lg;
}

.dt-button-collection.dt-button {
  @apply block w-full text-left px-4 py-2 hover:bg-slate-100;
}