@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar la fuente a todo el body */
body {
  font-family: 'Inter', sans-serif;
}
